<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Job</title>
</head>
<body>
    <h1>Update Job</h1>
 
    <form method="post" action="/jobs/<%= jobIndex %>?_method=PATCH" >
        <label for="title">Job Title:</label>
        <input type="text" id="title" name="title" value="<%= job.title %>" required><br>
        <label for="description">Job Description:</label>
        <textarea id="description" name="description" required><%= job.description %></textarea><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>
